In [30]:
import pandas as pd
import numpy as np
from datetime import datetime

stem = ['Chemistry Lab',
        "Chemistry",
        'College Algebra',
        'Geoscience',
        'PHYS 1301',
        'PHYS 1302',
        'Precalculus',
        'Statistics',
        'TTU Physics I',
        'TTU Physics II',
        'TTU Precalculus',
        'TTU Geoscience',
        'TTU Statistics'
       ]

def remove(data):
    removal = []
    for i in removal:
        data = data[data["Course Code"] != i]
    return data
    
# Naming convention to be updated
def standardize(data):
    convention = {"CS 302": "Computer Science",
        "RHE 306": "English Language Arts (ENGL 1301)",
        "RHE 309K": "English Language Arts (ENGL 1302)",
        "GEO 302E": "Geoscience",
        "HIS 315K": "US History (HIST 1301)",
        "HIS 315L": "US History (HIST 1302)",
        "M 305G": "Precalculus (MATH 2312)",
        "MATH 1550": "MATH 1550",
        "MATH 2300": "MATH 1550",
        "PHY 302K": "Physics (PHYS 1301)",
        "PHY 302L": "Physics (PHYS 1302)",
        "PHY 1403": "PHY 1403",
        "SDS 302": "Statistics",
        "AET 304": "Arts & Entertainment Technologies (AET)",
        "CH 301": "Chemistry",
        "CH 104M": "Chemistry Lab",
        "M 301": "College Algebra"}
    convention = pd.Series(convention)
    Course_Name_Complete = {"Thriving in our Digital World": "Thriving in our Digital World",
        "Intro to Rhetoric": "Introduction to Rhetoric: Reading, Writing, and Research",
        "Earth, Wind, and Fire": "Earth, Wind, and Fire: An Introduction to Geoscience",
        "United States, 1492-1865": "The United States: 1492-1865",
        "United States Since 1865": "The United States Since 1865",
        "Discovery Precalculus": "Discovery Precalculus: A Creative and Connected Approach",
        "Mechanics, Heat, and Sound": "Mechanics, Heat, and Sound",
        "EM, Optics, & Nuclear Physics": "Electromagnetism, Optics, and Nuclear Physics",
        "Rhe of Amer Iden": "Reading and Writing the Rhetoric of American Identity",
        "OnRamps Statistics": "OnRamps Statistics",
        "Arts & Entertainment":"Pixels, Samples, Lumens, Illusion: Foundations of Arts & Entertainment Technologies",
        "College Algebra":"College Algebra",
        "Intro to Chem Practices (Lab)":"Introduction to Chemistry Practices I",
        "Principles of Chem (Lecture)":"Principles of Chemistry I"}
    Course_Name_Complete = pd.Series(Course_Name_Complete)
    data["Course Title Complete"] = data["Course Title"]
    for i in Course_Name_Complete.index:
        data.loc[data["Course Title"] == i, "Course Title Complete"] = Course_Name_Complete[i]
    for i in convention.index:
        data.loc[data["Course Code"] == i, "Course Title"] = convention[i]
    return data

def fix_dates(data):
    for index, row in data.iterrows():
        if row["Eligibility Status Final Simple"] != "Withdraw":
            continue
        else:
            month = datetime.strptime(row["Withdraw Date"], '%m/%d/%y').strftime('%m')
            date = int(datetime.strptime(row["Withdraw Date"], '%m/%d/%y').strftime('%d'))
            if (month == '01' and date > 11) or month == '02':
                data.loc[index, "Eligibility Status Final Simple"] = 'Ineligible'
            elif (row["Term"] == 'Fal18-Spr19_UT_A' or row['Term'] == 'Fal18-Spr19_TTU') and month == '12' and date > 21:
                data.loc[index, "Eligibility Status Final Simple"] = 'Ineligible'
            else:
                continue
    return data

#Load Data
def get_master(master, district = ''):
    data = pd.read_csv(master)
    data = remove(data)
    data = data[data["Eligibility Status Final Simple"] != 'HS Only']
    data = standardize(data)
    if district == '':
        return data
    return data[data["District Name"] == district]

def read_data(master, district):
    data = get_master(master, district)
    UT = data[data["Partner"] == "UT Austin OnRamps"]
    TTU = data[data["Partner"] == "TTU OnRamps"]
    return UT, TTU

def read_data_without_differentiate(master, district):
    data = get_master(master, district)
    return data

# Get Row totals
def get_row_total(data):
    data['Total'] = 0
    for index, row in data.iterrows():
        data.loc[index, 'Total'] = sum(data.loc[index])
    return data

# Get Column totals
def get_column_total(data):
    data.loc['Total'] = 0
    for i in data.columns:
        data.loc['Total', i] = data[i].sum()
    return data

#Figure 1.1
def get_course(data, label = []):
    if label == '':
        course = data["Course Code"]
    else:
        course = data[label]
    return course.drop_duplicates()

def Figure_1_4(data):
    return get_course(data, ["Course Title Complete"])

def get_unique_values(date, label):
    return data[label].drop_duplicates()

def get_Campus(data, course):
    data = data[data['Course Title'] == course]
    return data['Campus Name'].value_counts()

def get_Census(data, district, endOfTerm = False):
    if endOfTerm == True:
        data = data[data["Withdraw Status"] == "No"]
    data = data[data["District Name"] == district]
    ans = pd.DataFrame()
    for i in data["Campus Name"].drop_duplicates().sort_values():
        ans[i] = data[data["Campus Name"] == i]["Course Title"].value_counts()
        print(data[data["Campus Name"] == i][data["Course Title"] == "Chemistry"]["EID"])
    ans = ans.sort_index()
    return ans

In [31]:
def report_generator_UT_TTU(master, master1718, district, dataset):
    
    OnRamps = standardize(fix_dates(read_data_without_differentiate(master, district)))
    UT, TTU = read_data(master, district)
    OnRamps1718 = standardize(read_data_without_differentiate(master1718, district))
    master = standardize(fix_dates(get_master(master)))
    pastdata = []
    for i in dataset:
        pastdata.append([i[0], read_data_without_differentiate(i[1], district)])

    funclist = [(Figure_1_4, UT),]
    print(get_Census(UT, district))
    for i in funclist:
        func, data= i
        print(func(data))

master = "18-19 FAKE Master File (Final).csv"
district = ['Austin ISD']
master1718 = '17-18 Master File (Student Tab)_Final (2018-05-29).csv'
dataset = [['14-15', 'Master File (14-15) (FINAL).csv'],
          ['15-16', 'Master File (15-16) (FINAL).csv'],
          ['16-17', '16-17 Master File (FINAL).csv'],
          ['17-18', '17-18 Master File (Student Tab)_Final (2018-05-29).csv'],
          ['18-19', "18-19 Mid-Year Master File (Spring 2019).csv"]]

for i in district:
    report_generator_UT_TTU(master, master1718, i, dataset)

992      eid3208
2571     eid3184
7183     eid4259
9229     eid3178
15058    eid3190
22313    eid4243
22556    eid4267
23865    eid4235
31515    eid3202
40256    eid4251
40896    eid3196
Name: EID, dtype: object
Series([], Name: EID, dtype: object)
Series([], Name: EID, dtype: object)
Series([], Name: EID, dtype: object)
Series([], Name: EID, dtype: object)
2057     eid2434
5647     eid3243
12384    eid3235
20311    eid2422
26173    eid2440
29400    eid2428
32731    eid3219
41924    eid3227
Name: EID, dtype: object
Series([], Name: EID, dtype: object)
Series([], Name: EID, dtype: object)
Series([], Name: EID, dtype: object)
10891    eid3011
15444    eid3003
21620    eid2254
22627    eid2995
27727    eid2260
Name: EID, dtype: object
                                         Akins HS  Anderson HS  \
Arts & Entertainment Technologies (AET)        28          NaN
Chemistry                                      11          NaN
Chemistry Lab                                  11          NaN
College Algebra                               112          NaN
Computer Science                               58         16.0
English Language Arts (ENGL 1301)              65         85.0
English Language Arts (ENGL 1302)              62         73.0
Geoscience                                     26          NaN
Physics (PHYS 1301)                            52         42.0
Precalculus (MATH 2312)                        58          NaN
Statistics                                    181          NaN
US History (HIST 1301)                        172        118.0
US History (HIST 1302)                        169        107.0

                                         Ann Richards School  Austin HS  \
Arts & Entertainment Technologies (AET)                  NaN        NaN
Chemistry                                                NaN        NaN
Chemistry Lab                                            NaN        NaN
College Algebra                                          NaN        NaN
Computer Science                                         NaN        NaN
English Language Arts (ENGL 1301)                        NaN      103.0
English Language Arts (ENGL 1302)                        NaN       88.0
Geoscience                                              74.0       19.0
Physics (PHYS 1301)                                      NaN      148.0
Precalculus (MATH 2312)                                  NaN      175.0
Statistics                                               NaN        NaN
US History (HIST 1301)                                   NaN      124.0
US History (HIST 1302)                                   NaN      120.0

                                         Bowie HS  Crockett HS  \
Arts & Entertainment Technologies (AET)       NaN          NaN
Chemistry                                     NaN          8.0
Chemistry Lab                                 NaN          8.0
College Algebra                               NaN         33.0
Computer Science                              NaN          NaN
English Language Arts (ENGL 1301)           218.0         79.0
English Language Arts (ENGL 1302)           207.0         64.0
Geoscience                                    NaN         26.0
Physics (PHYS 1301)                          25.0         37.0
Precalculus (MATH 2312)                      63.0         89.0
Statistics                                  168.0         20.0
US History (HIST 1301)                        NaN          NaN
US History (HIST 1302)                        NaN          NaN

                                         Eastside Memorial HS  McCallum HS  \
Arts & Entertainment Technologies (AET)                   NaN          NaN
Chemistry                                                 NaN          NaN
Chemistry Lab                                             NaN          NaN
College Algebra                                           NaN          NaN
Computer Science                                          NaN         16.0
English Language Arts (ENGL 1301)                         NaN         81.0
English Language Arts (ENGL 1302)                         NaN         73.0
Geoscience                                                NaN          NaN
Physics (PHYS 1301)                                       NaN         45.0
Precalculus (MATH 2312)                                  23.0          NaN
Statistics                                                NaN          NaN
US History (HIST 1301)                                    NaN         56.0
US History (HIST 1302)                                    NaN         39.0

                                         Reagan ECHS  Travis ECHS
Arts & Entertainment Technologies (AET)          NaN          NaN
Chemistry                                        NaN          5.0
Chemistry Lab                                    NaN          5.0
College Algebra                                  NaN        126.0
Computer Science                                 NaN          8.0
English Language Arts (ENGL 1301)               72.0        131.0
English Language Arts (ENGL 1302)               63.0         77.0
Geoscience                                       NaN         21.0
Physics (PHYS 1301)                              NaN         72.0
Precalculus (MATH 2312)                         92.0         80.0
Statistics                                       NaN          NaN
US History (HIST 1301)                           NaN         59.0
US History (HIST 1302)                           NaN         50.0
                                 Course Title Complete
4                                      College Algebra
17   Introduction to Rhetoric: Reading, Writing, an...
56   Pixels, Samples, Lumens, Illusion: Foundations...
81                        The United States: 1492-1865
86   Earth, Wind, and Fire: An Introduction to Geos...
94                          Mechanics, Heat, and Sound
106  Reading and Writing the Rhetoric of American I...
111                       The United States Since 1865
229  Discovery Precalculus: A Creative and Connecte...
267                                 OnRamps Statistics
360                      Thriving in our Digital World
568              Introduction to Chemistry Practices I
842      Electromagnetism, Optics, and Nuclear Physics
992                          Principles of Chemistry I

/Users/yx4247/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:142: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [2]:
import xlrd
loc = ("Austin ISD.xlsx") 
wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(4) 
for i in range(sheet.nrows):
    print(sheet.row_values(i))

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', 'Figure 1.4 shows the number of students by campus who were enrolled in each OnRamps distance college course at census* and at the end of the academic term. Students could enroll in multiple course.\n\nThis figure is divided according to course subject. Figure 1.4a includes math and science courses and Figure 1.4b includes humanities, arts, and technology courses. Figures are only displayed if the course(s) are offered at Austin ISD.\n*Census is the date on which OnRamps confirms students for reporting purposes only.\n\nFigure 1.4a: Student enrollment in math and science courses at census & end of year at campus level in the 2018-2019 academic year', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', 'Course Code', 'Enrollment Dates', 'Akins HS', 'Anderson HS', 'Ann Richards School', 'Austin HS', 'Bowie HS', 'Crockett HS', 'Eastside Memorial HS', 'McCallum HS', 'Reagan ECHS', 'Travis ECHS', 'Total', '']
['', '', 'Chemistry', 'At Census', 15.0, 0.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 6.0, 31.0, '']
['', '', None, 'End of Academic Term', 15.0, 0.0, 0.0, 0.0, 0.0, 8.0, 0.0, 0.0, 0.0, 4.0, 27.0, '']
['', '', 'Chemistry Lab', 'At Census', 14.0, 0.0, 0.0, 0.0, 0.0, 11.0, 0.0, 0.0, 0.0, 7.0, 32.0, '']
['', '', None, 'End of Academic Term', 14.0, 0.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 5.0, 29.0, '']
['', '', 'College Algebra', 'At Census', 136.0, 0.0, 0.0, 0.0, 0.0, 44.0, 0.0, 0.0, 0.0, 151.0, 331.0, '']
['', '', None, 'End of Academic Term', 119.0, 0.0, 0.0, 0.0, 0.0, 42.0, 0.0, 0.0, 0.0, 114.0, 275.0, '']
['', '', 'Geoscience', 'At Census', 29.0, 0.0, 82.0, 24.0, 0.0, 33.0, 0.0, 0.0, 0.0, 26.0, 194.0, '']
['', '', None, 'End of Academic Term', 28.0, 0.0, 79.0, 21.0, 0.0, 32.0, 0.0, 0.0, 0.0, 26.0, 186.0, '']
['', '', 'PHYS 1301', 'At Census', 61.0, 48.0, 0.0, 177.0, 31.0, 47.0, 0.0, 59.0, 0.0, 91.0, 514.0, '']
['', '', None, 'End of Academic Term', 61.0, 44.0, 0.0, 158.0, 31.0, 47.0, 0.0, 53.0, 0.0, 75.0, 469.0, '']
['', '', 'PHYS 1302', 'At Census', 0.0, 26.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 0.0, 46.0, '']
['', '', None, 'End of Academic Term', 0.0, 23.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18.0, 0.0, 0.0, 41.0, '']
['', '', 'Precalculus', 'At Census', 77.0, 0.0, 0.0, 210.0, 75.0, 113.0, 26.0, 0.0, 111.0, 99.0, 711.0, '']
['', '', None, 'End of Academic Term', 76.0, 0.0, 0.0, 197.0, 72.0, 111.0, 22.0, 0.0, 101.0, 83.0, 662.0, '']
['', '', 'Statistics', 'At Census', 231.0, 0.0, 0.0, 0.0, 210.0, 26.0, 0.0, 0.0, 0.0, 0.0, 467.0, '']
['', '', None, 'End of Academic Term', 224.0, 0.0, 0.0, 0.0, 209.0, 19.0, 0.0, 0.0, 0.0, 0.0, 452.0, '']
['', '', 'Total', 'Census Enrollment', 563.0, 74.0, 82.0, 411.0, 316.0, 284.0, 26.0, 79.0, 111.0, 380.0, 2326.0, '']
['', '', None, 'Final Enrollment', 537.0, 67.0, 79.0, 376.0, 312.0, 269.0, 22.0, 71.0, 101.0, 307.0, 2141.0, '']